
  <ul class="nav  navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/info" routerLinkActive="active" >Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/survey" routerLinkActive="active" >Survey</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/view-surveys" routerLinkActive="active" >View Surveys</a>
    </li>

</ul>
  
